/* Deixa o header em cima de tudo (inclusive mapas) */
/* header {
    z-index: 9999 !important;
} */

/* Icones Para Headers */
.icon-header {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* Logo */
.logo-mobile,
.title-mobile {
  display: none;
}

.logo-desktop,
.title-desktop {
  display: inline-block;
}

/* Logo na telas pequena (<768px) */
@media (max-width: 767px) {

  .logo-desktop,
  .title-desktop {
    display: none !important;
  }

  .logo-mobile,
  .title-mobile {
    display: inline-block !important;
  }

  [role="alert"] {
    display: none !important;
  }

  .btnExcel {
    display: none !important;
  }
}

/* Center the header text vertically */
.align-self-center {
  display: flex;
  align-items: center;
  margin: 0;
}

/* Deixa o popup em cima de tudo (inclusive header) */
.mantine-Popover-dropdown {
  z-index: 100000 !important;
}

/* Cor de fundo dos indicadores */
.card-box-shadow {
  box-shadow: 1px 5px 5px #c9c3c3
}

.full-page-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999 !important;
  pointer-events: all;
}

div#conteudo-markdown-relatorio hr {
    display: none;
}

div#conteudo-markdown-relatorio h2 {
    border-bottom: 2px solid #58c9fc;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

div#conteudo-markdown-relatorio h1 {
    border-bottom: 4px solid #75a6e0;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

